.Metric-card{   
    padding: 1em;
    
    border-radius: 1rem;
    color: white;
    transition: all .3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.Metric-card:hover{
    transform: scale(1.01, 1.01);
    cursor: pointer;
}
.Metric-card__body{
    font-size: 1.2rem;
}
.Metric-card__header{
    margin-bottom: 1em;
}
.Metric-card__header i{
    font-size: 1.2rem;
}
.cyan {
    /* background: linear-gradient(to bottom, rgba(0, 255, 255, 0.5), rgba(0, 0, 255, 0.2)); */
    background-color: rgba(34, 76, 214, 1);
    flex: 1;
}

.bluegreen{
    background-color: rgb(12, 144, 231);
    flex: 1;
}

.red{
    background-color: red;
    flex: 1;
}
.emerald{
    background-color: var(--color-emerald);
    flex: 1;
}
.blue{
    background-color: var(--color-blue);
    flex: 1;
}
.purple{
    background-color: var(--color-purple);
    flex: 1;
}